
/* Your CSS Code here. */
*{
	margin: 0px;
	padding: 0px;
}
.holder{
	width: 220px;
	height: 220px;
	margin:20px auto;
	background-color: yellow;
	display: grid;
	grid-template-columns: repeat(2,100px);
	grid-template-rows: repeat(2,100px);
	gap: 20px;
	box-sizing: border-box;
	overflow: hidden;
}
.item{
	background-color: red;
	padding: 20px;
	border-radius: 10px;
	font-weight: 900;
	font-size: 50px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid black;
	
}